*{
  /*margin: 10px;*/
  padding: 10px;
  font-family: Quicksand, Helvetica, sans-serif;
  /*text-align: center;*/
}

h3{
  font-family: Quicksand, Helvetica, sans-serif;
  /*background-color: #c8dff3;*/
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  /*border-radius: 15px;*/
}

h1{
  font-family: Quicksand, Helvetica, sans-serif;
  font-size: 60px;
  /*margin: 50px;*/
  margin: 0px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-color: #FADC46;
  text-decoration-thickness: 7px;
  text-decoration-style: solid;

  /*Adapted from https://stackoverflow.com/questions/12605908/change-background-image-opacity*/
  background-color: rgba(255,255,255,0.3);
  background-blend-mode: lighten;
  background-image: url('SolarPanels.jpg');
}

.instructions h3{
  text-align: left;
  background-color: #FFFFFF; 
}

h4{
  margin: 10px;
  text-align: left;
}

/*Navigation Bar*/
.topnav {
  background-color: #092843;
  /*overflow: hidden;*/
  margin: 0px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.topnav img{
  padding: 10px;
  float: left;
  height: 40px;
  width: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #0f3658;
  color: #FFFFFF;
  border-radius: 15px;
}

.topnav a.active {
  color: #FFFFFF;
  background-color: #0f3658;
}


.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

form{
  margin: 10px;
  background-color: #AACFF0;
}

label{
  margin: 8px;
}

input{
  margin: 8px;
}

.scheduleForm{
  margin: 20px;
  padding: 20px;
  padding-left: 30%;
  padding-right: 30%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 400px;
}