# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# VSCode settings
.vscode/

# Build artifacts
build/
dist/
*.spec

# Logs
*.log

# Dataset uploads
data/raw_data/*.xlsx

# Checkpoints
checkpoints/

models/__pycache__/
